<%- include('../partials/header') %>



      <h1><%=title%></h1>
    <p><img src="images/Kali.jpg"> </p>
      <p>Kali (/ˈkɑːliː/; Sanskrit: काली, IAST: Kālī), also referred to as Mahakali, Bhadrakali, and Kalika (Sanskrit: कालिका), is a Hindu goddess who is considered to be the goddess of ultimate power, time, destruction and change in Shaktism.[1] In this tradition, she is considered as a ferocious form of goddess Adi Shakti, the supreme of all powers, or the ultimate reality. She is the first of the ten Mahavidyas in the Hindu tantric tradition.</p> 
  
  <p>Reference https://en.wikipedia.org/wiki/Kali</p>


<%- include('../partials/footer') %>