<%- include('../partials/header') %>



      <h1><%=title%></h1>
    <p><img src="images/shopping.jfif"> </p>
      <p>This is a page of shopping and it is very claming ofr me and i enjoy it.</p> 
  
  <p></p>


<%- include('../partials/footer') %>