<%- include('../partials/header') %>



      <h1><%=title%></h1>
  <p><img src="images/swim.jfif"> </p>
      <p> THis is a page of my swimming, swimming is my hobby and love to swim</p>    

<p>Reference </p>
<%- include('../partials/footer') %>