<%- include('../partials/header') %>



      <h1><%=title%></h1>
  <p><img src="images/volcarona.png"> </p>
      <p>Volcarona is a large, moth-like Pokémon with four small feet. It appears to have compound eyes that are two shades of blue, and there is a red horn-like structure on each side of its face. The fuzz on its upper body is smoky white and tangled. Its abdomen is black in the center and light blue with black dots on the outside. It has six leaf-like wings that are orange in color and have small black spots.</p>    

<p>Reference https://bulbapedia.bulbagarden.net/wiki/Volcarona_(Pok%C3%A9mon)</p>
<%- include('../partials/footer') %>