<%- include('../partials/header') %>



      <h1><%=title%></h1>
  <p><img src="images/yukari.png"> </p>
      <p>Yukari Yakumo (八雲　紫 Yakumo Yukari) is a legendary youkai who is able to manipulate boundaries. She is the master of Ran Yakumo. She is called the "gap youkai" (すきま妖怪 sukima youkai),[2] although "gap youkai" is not the name of a species, as she is more of a one-of-a-kind type of youkai.[3] Regardless of her power, Yukari appears to be the most well-informed being in Gensokyo of any kind and usually achieves her goals through manipulating events rather than direct combat.</p>    
    
    <p>Reference https://en.touhouwiki.net/wiki/Yukari_Yakumo</p>
<%- include('../partials/footer') %>